<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-side-nav>
    </app-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header class="headerZ"(toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="page">
      <div class="page__box">Roles</div>
      <div class="page__content">
        <app-role-table (editRoleEvent)="editRole($event)" (removeRoleEvent)="removeRole($event)" (addRoleEvent)="addRole($event)" [roleList]="roleList"></app-role-table>
        </div>
      </div>




  </mat-drawer-content>
</mat-drawer-container>


