<mat-nav-list>
  <div class="logo">
    <img src="assets/admin.png" alt="admin Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 class="seccion">Secciones</h2>

  <mat-divider></mat-divider>
  <div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/User/UserList" class="mat-list-item">
      <mat-icon>assessment</mat-icon> Usuarios

    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Role/RoleList" class="mat-list-item">
      <mat-icon>assessment</mat-icon> Roles
    </a>
  </div>

</mat-nav-list>
